<body background="/images/events_bg.jpg">
<p><font size="15" color="white"> <center> Events</center></font></p>
______________________________________________________________________________________________________________________________________________________________________________________________________________________
<p><font size="5" color="white"> <b> December 2013 </b> </font> </p>

<p><font size="4" color ="white"> Coming Soon </font> </p>
&nbsp;
&nbsp;
<p><font size="5" color="white"> <b> January 2014 </b> </font> </p>

<p><font size="4" color="white"> 6TH ANNUAL “WHERE HIP-HOP MEETS COUTURE” </font> </p>
   
