
<p><font size="15" color="black"> <center> Events</center></font></p>
______________________________________________________________________________________________________________________________________________________________________________________________________________________
<center><img src = "images/MMCFlyer.jpg"></center>