<center><h1> <a href="http://www.eventbrite.com/e/7th-annual-where-music-meets-couture-showcase-tickets-7752944265"> Purchase your tickets online </center> </h1></a>
<center><a href="http://www.eventbrite.com/e/7th-annual-where-music-meets-couture-showcase-tickets-7752944265"><img src = "images/event2.jpg"></center></a>