<p><font size="6"><center> About Us </center></font>
_____________________________________________________________________________________________________________________________________________________________________________________________________________________
&nbsp;
&nbsp;
&nbsp;



<p align="justify"><font size="4"> 
Jumoke S. Mendez, Managing Partner
Client Management and Relations

Jumoke Mendez has worked in marketing and branding with some of the biggest names in sports and entertainment for over the past decade specializing in Branding and Private Client Services.  Jumoke graduated with his BA in Sports Management and Minor in Marketing from Florida International University in 2003.

Jumoke has worked on campaigns, for Hennessy Artistry Tour to Winter Music Conference, Ultra Music Festival, NBA Draft, NFL Draft and the VMA’s.  His 8 years of working heavily with corporate clients, celebrities, athletes, and brands landed him the incredible opportunity in 2011 to team up with mobile company  Mobli, a new startup platform for real-time visual media sharing based out of New York.  Joining Mobli he experienced extremely fast growth helping the company to aggressively increase their overall users and usage by utilizing his wealth of contacts and innovative marketing strategies.  His ideas, initiatives, resources, and aggregating content, helped play an intricate role bringing Mobli’s total funding to 88 Million during his time there.  

In 2013 Jumoke co-founded 3P Media Partners to mentor and guide young rising stars for both sports and entertainment. 3P allows talent to maximize their overall brand so each and every client reaches their true potential on and off the court, field, and stage.  Their goal is to educate, empower and manage their current/future clients so they succeed in every aspect of business which drives them to become global leaders and ambassadors which positions them to maximize their brand.   


Earl D Silas, Jr, MBA, Managing Partner
Corporate Strategy and Execution
Earl has nearly 20 years in experience in both traditional corporate and entrepreneurial executive leadership.  Most known for his subtle demeanor and dynamic business prowess, the ‘man behind the curtain’ has been the driving force behind numerous projects since his early years in college.  Earl graduated Cum Laude w/ his MBA from Nova Southeastern and a proud alumnus of the University of Central Florida with a BA in Criminal Justice and Finance.

During his years as an entrepreneur on the entertainment side, Earl has worked with organizations such as BET, Source Magazine, Jazz in the Gardens, Nike Basketball Camp, South Beach Food and Wine Festival and the Orange Bowl Committee.  His past clients include both athletes and entertainers showcasing their talents during the ABFF, Hip Hop Awards, Zo’s Summer Groove and Nat Moore Florida Golf Classic to name a few.  

As a corporate professional, Earl has been instrumental in crafting the digital strategy for clients such as Home Depot, State Farm Insurance, Verizon, Tory Burch, Ralph Lauren and Tom Ford.  His experience has enabled his client to expand their digital footprint both in the US and Europe.   Currently, he’s the chief digital strategist for a boutique firm specializing in web design and eCommerce in Manhattan.  In additional to his role of a corporate executive, he’s one of the founding members of the Tap & Cork Series and 3P Media Partners.  


Travis Bond, Chief Social Media Architect
Travis Bond is a social media strategist, trainer and speaker located in the Greater Los Angeles area that specializes in helping companies and clients better connect with its customers via social media. He has been actively immersed in social media since 2007, and in that time, has helped businesses of all shapes and sizes better connect with their customers via these amazing tools and sites. His clients include businesses of all sizes, from sole proprietorships, film stars to major Hollywood studios.  His goal is to help his clients create connections with their customers, and nurture them into relationships that help grow their bottom line.  
 
Additionally, Travis’s thoughts and expertise on Marketing, Brand Advocacy and Social Media have been sought by some of the world’s most prestigious entertainers and Hollywood film studios such as Fox Searchlight. Some of Travis's most recent projects and clients include the major motion picture Baggage Claim, written and directed by David E. Talbert, La La Vasquez's The Love Playbook and the E! News anchor and film star Terrence J's Amazon's Best Selling book The Wealth of My Mothers Wisdom to name a few.


John Fuller, Corporate Publicist
John Fuller worked as a public relations specialist for some of the top stars in sports over the past decade, and specializes in non-traditional sports publicity.  Independently, he represents current MLB National League Andrew McCutchen and UFC stars Benson Henderson and Carlos Condit. He has also provided public relations services in the past for former NFL stars Terrell Owens, LaVar Arrington, Bernard Berrian and Cato June, MLB All-Star Curtis Granderson, and UFC Champion Jon "Bones" Jones.

His clients have been featured on numerous talk shows, including Ellen, The View and Late Show with David Letterman and in various worldwide, national and regional publications.  Previously, he worked for five years under the U.S. Olympic Committee helping to provide exposure for numerous athletes within the sports world. Through the USOC and its international events, he provided support for sports including baseball, basketball, boxing, softball, swimming, tennis, wrestling and weightlifting, working with the biggest stars in those respective sports to ensure positive, quality publicity.

</font></p>


 
 
<center><p><font size="4"> ‘Integrity…..Commitment.....Perseverance’ </font></p></center>
 

